* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

body {
    margin-top: 100px;
    background-color: rgb(85, 85, 85);
}

main {
    min-height: 100vh;
}

header {
    width: 100%;
    height: 75px;
    color: whitesmoke;
    position: fixed;
    background: rgb(100, 100, 100);
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 8px 1px 10px rgba(0,0,0,0.5);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: left;
}

.logo {
    float: left;
    line-height: 75px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    cursor: default;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.song-info {
    position: absolute;
    top: 25%;
    right: 15%;
}

.album-image {
    width: 300px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}

audio {
    background-color: #f0f3f4;
}

.song-description {
    width: 300px;
}

.song-description p {
    margin: 10px 0;
    font-size: 1.2rem;
}

footer {
    width: 100%;
    height: 70px;
    color: rgb(0, 0, 0);
    background: rgb(100, 100, 100);
    z-index: 1;
    bottom: 0;
    left: 0;
    box-shadow: 8px 1px 10px rgba(0,0,0,0.5);
    margin-top: 20px;
    position: relative;
}

.logo-footer {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 41.5%;
    top: 10px;
}

.copyright {
    position: absolute;
    left: 45%;
    top: 10px;
    margin-left: 10px;
}